In [12]:
import pandas as pd
import numpy as np
import seaborn as sklearn
import matplotlib.pyplot as plt
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from wordcloud import WordCloud

In [77]:
df = pd.read_csv(r"C:\Users\jathi\Downloads\diamonds.csv")
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [18]:
#df1 = df.drop(["x","y","z"],axis = 1)

In [79]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [20]:
df["cut"].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [21]:
df1["color"].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [22]:
df1["clarity"].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [80]:
df["cut"] = df["cut"].map({"Ideal":1,"Premium":2,"Good":3,"Very Good":4,"Fair":5})

In [81]:
df["color"] = df["color"].map({"E":1,"I":2,"J":3,"H":4,"F":5,"G":6,"D":7})

In [82]:
df["clarity"] = df["clarity"].map({"SI2":1,"SI1":2,"VS1":3,"VS2":4,"VVS2":5,"VVS1":6,"I1":7,"IF":8})

In [83]:
df

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    1      1        1   61.5   55.0    326  3.95  3.98  2.43
1       0.21    2      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    3      1        3   56.9   65.0    327  4.05  4.07  2.31
3       0.29    2      2        4   62.4   58.0    334  4.20  4.23  2.63
4       0.31    3      3        1   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    1      7        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    3      7        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    4      7        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    2      4        1   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    1      7        1   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [111]:
df["z"].max()

31.8

In [112]:
df["z"].min()

0.0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  int64
 2   color    53940 non-null  int64
 3   clarity  53940 non-null  int64
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.1 MB

In [87]:
df.to_csv("Diamond1.csv")

In [88]:
df2 = pd.read_csv(r"C:\Users\jathi\machine learning folder\Diamond1.csv")

In [89]:
df2.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,0,0.23,1,1,1,61.5,55.0,326,3.95,3.98,2.43
1,1,0.21,2,1,2,59.8,61.0,326,3.89,3.84,2.31
2,2,0.23,3,1,3,56.9,65.0,327,4.05,4.07,2.31
3,3,0.29,2,2,4,62.4,58.0,334,4.20,4.23,2.63
4,4,0.31,3,3,1,63.3,58.0,335,4.34,4.35,2.75

In [90]:
df2  =  df2.drop("Unnamed: 0",axis = 1)

In [91]:
df2

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    1      1        1   61.5   55.0    326  3.95  3.98  2.43
1       0.21    2      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    3      1        3   56.9   65.0    327  4.05  4.07  2.31
3       0.29    2      2        4   62.4   58.0    334  4.20  4.23  2.63
4       0.31    3      3        1   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    1      7        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    3      7        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    4      7        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    2      4        1   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    1      7        1   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

## Splitting the data

In [92]:
X = df2.drop("price",axis = 1)
y = df2["price"]

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=23)

In [95]:
X_train.shape

(43152, 9)

In [96]:
y_train.shape

(43152,)

## KNN

In [97]:
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score

In [98]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

901.0248160407381

## Linear Regression

In [99]:
from sklearn.linear_model import LinearRegression

In [100]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1462.5503460998646

## Decission Tree

In [101]:
from sklearn.tree import DecisionTreeRegressor

In [102]:
dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

759.1286830990566

## SVM

In [62]:
from sklearn.svm import SVR

In [63]:
sv = SVR()
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

4237.493136931062

## pickle

In [103]:
import pickle

In [104]:
pickle.dump(dt,open("dt.pkl","wb"))

In [105]:
model = pickle.load(open("dt.pkl","rb"))

In [106]:
model.predict([[0.23,1,1,1,61.5,55.0,3.95,3.98,2.43]])[0]

C:\Users\jathi\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

326.0